SoftGest/SoftGestWA/Connected Services/PagoWS/Pago.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softgest.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Pago" targetNamespace="http://services.softgest.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftGestWS/Pago?xsd=1" namespace="http://services.softgest.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarPago">
    <part name="parameters" element="tns:eliminarPago" />
  </message>
  <message name="eliminarPagoResponse">
    <part name="parameters" element="tns:eliminarPagoResponse" />
  </message>
  <message name="modificarPago">
    <part name="parameters" element="tns:modificarPago" />
  </message>
  <message name="modificarPagoResponse">
    <part name="parameters" element="tns:modificarPagoResponse" />
  </message>
  <message name="obtenerPorIdPago">
    <part name="parameters" element="tns:obtenerPorIdPago" />
  </message>
  <message name="obtenerPorIdPagoResponse">
    <part name="parameters" element="tns:obtenerPorIdPagoResponse" />
  </message>
  <message name="insertarPago">
    <part name="parameters" element="tns:insertarPago" />
  </message>
  <message name="insertarPagoResponse">
    <part name="parameters" element="tns:insertarPagoResponse" />
  </message>
  <message name="listarTodosPago">
    <part name="parameters" element="tns:listarTodosPago" />
  </message>
  <message name="listarTodosPagoResponse">
    <part name="parameters" element="tns:listarTodosPagoResponse" />
  </message>
  <portType name="Pago">
    <operation name="eliminarPago">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Pago/eliminarPagoRequest" message="tns:eliminarPago" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Pago/eliminarPagoResponse" message="tns:eliminarPagoResponse" />
    </operation>
    <operation name="modificarPago">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Pago/modificarPagoRequest" message="tns:modificarPago" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Pago/modificarPagoResponse" message="tns:modificarPagoResponse" />
    </operation>
    <operation name="obtenerPorIdPago">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Pago/obtenerPorIdPagoRequest" message="tns:obtenerPorIdPago" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Pago/obtenerPorIdPagoResponse" message="tns:obtenerPorIdPagoResponse" />
    </operation>
    <operation name="insertarPago">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Pago/insertarPagoRequest" message="tns:insertarPago" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Pago/insertarPagoResponse" message="tns:insertarPagoResponse" />
    </operation>
    <operation name="listarTodosPago">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Pago/listarTodosPagoRequest" message="tns:listarTodosPago" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Pago/listarTodosPagoResponse" message="tns:listarTodosPagoResponse" />
    </operation>
  </portType>
  <binding name="PagoPortBinding" type="tns:Pago">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Pago">
    <port name="PagoPort" binding="tns:PagoPortBinding">
      <soap:address location="http://localhost:8080/SoftGestWS/Pago" />
    </port>
  </service>
</definitions>