SoftGest/SoftGestWA/Connected Services/PagoWS/Pago.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softgest.pucp.edu.pe/" targetNamespace="http://services.softgest.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPago" type="tns:eliminarPago" />
  <xs:element name="eliminarPagoResponse" type="tns:eliminarPagoResponse" />
  <xs:element name="insertarPago" type="tns:insertarPago" />
  <xs:element name="insertarPagoResponse" type="tns:insertarPagoResponse" />
  <xs:element name="listarTodosPago" type="tns:listarTodosPago" />
  <xs:element name="listarTodosPagoResponse" type="tns:listarTodosPagoResponse" />
  <xs:element name="modificarPago" type="tns:modificarPago" />
  <xs:element name="modificarPagoResponse" type="tns:modificarPagoResponse" />
  <xs:element name="obtenerPorIdPago" type="tns:obtenerPorIdPago" />
  <xs:element name="obtenerPorIdPagoResponse" type="tns:obtenerPorIdPagoResponse" />
  <xs:complexType name="modificarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="mes" type="xs:int" />
      <xs:element minOccurs="0" name="anio" type="xs:int" />
      <xs:element minOccurs="0" name="idFkCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pagoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="citaDTO" type="tns:citaDTO" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPago" />
      <xs:element minOccurs="0" name="fecha" type="tns:localDate" />
      <xs:element minOccurs="0" name="idPago" type="xs:int" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoPago" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="citaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="asistenteMostradorDTO" type="tns:asistenteMostradorDTO" />
      <xs:element minOccurs="0" name="duracion" type="tns:time" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoCita" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora" type="tns:time" />
      <xs:element minOccurs="0" name="idCita" type="xs:int" />
      <xs:element minOccurs="0" name="jefeOdontologicoDTO" type="tns:jefeOdontologicoDTO" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" name="odontologoDTO" type="tns:odontologoDTO" />
      <xs:element minOccurs="0" name="pacienteDTO" type="tns:pacienteDTO" />
      <xs:element minOccurs="0" name="tratamientoDTO" type="tns:tratamientoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistenteMostradorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
          <xs:element minOccurs="0" name="turno" type="tns:turno" />
          <xs:element minOccurs="0" name="turnoPersonal" type="tns:turnoPersonalDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoPersonalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
      <xs:element minOccurs="0" name="idTurnoPersonal" type="xs:int" />
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="jefeOdontologicoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="odontologoDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
          <xs:element minOccurs="0" name="turno" type="tns:turno" />
          <xs:element minOccurs="0" name="turnoPersonal" type="tns:turnoPersonalDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="pacienteDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="alergias" nillable="true" type="tns:alergia" />
          <xs:element minOccurs="0" name="condicionesPrevias" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="tratamientoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="costo" type="xs:double" />
      <xs:element minOccurs="0" name="idTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="tipoTratamientoDTO" type="tns:tipoTratamientoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoTratamientoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="idTipoTratamiento" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="localDate" final="extension restriction">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarPago">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="mes" type="xs:int" />
      <xs:element minOccurs="0" name="anio" type="xs:int" />
      <xs:element minOccurs="0" name="idFkCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosPago">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosPagoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pagoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="disponibilidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disponible" />
      <xs:enumeration value="NoDisponible" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="turno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mañana" />
      <xs:enumeration value="Tarde" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Masculino" />
      <xs:enumeration value="Femenino" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoCita">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EnTiempo" />
      <xs:enumeration value="Finalizado" />
      <xs:enumeration value="EnProceso" />
      <xs:enumeration value="Reprogramado" />
      <xs:enumeration value="Cancelado" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="especialidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ortodoncia" />
      <xs:enumeration value="Endodoncia" />
      <xs:enumeration value="Peridoncia" />
      <xs:enumeration value="Implantologia" />
      <xs:enumeration value="Radiologia" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="alergia">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Antibioticos" />
      <xs:enumeration value="Analgesicos" />
      <xs:enumeration value="Latex" />
      <xs:enumeration value="Sulfamidas" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pagado" />
      <xs:enumeration value="Falta" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Efectivo" />
      <xs:enumeration value="Transferencia" />
      <xs:enumeration value="Tarjeta" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>