SoftGest/SoftGestWA/Connected Services/OdontologoWS/Odontologo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softgest.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Odontologo" targetNamespace="http://services.softgest.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SoftGestWS/Odontologo?xsd=1" namespace="http://services.softgest.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarOdontologo">
    <part name="parameters" element="tns:eliminarOdontologo" />
  </message>
  <message name="eliminarOdontologoResponse">
    <part name="parameters" element="tns:eliminarOdontologoResponse" />
  </message>
  <message name="insertarOdontologo">
    <part name="parameters" element="tns:insertarOdontologo" />
  </message>
  <message name="insertarOdontologoResponse">
    <part name="parameters" element="tns:insertarOdontologoResponse" />
  </message>
  <message name="modificarOdontologo">
    <part name="parameters" element="tns:modificarOdontologo" />
  </message>
  <message name="modificarOdontologoResponse">
    <part name="parameters" element="tns:modificarOdontologoResponse" />
  </message>
  <message name="listarTodosOdontologo">
    <part name="parameters" element="tns:listarTodosOdontologo" />
  </message>
  <message name="listarTodosOdontologoResponse">
    <part name="parameters" element="tns:listarTodosOdontologoResponse" />
  </message>
  <message name="obtenerPorIdOdontologo">
    <part name="parameters" element="tns:obtenerPorIdOdontologo" />
  </message>
  <message name="obtenerPorIdOdontologoResponse">
    <part name="parameters" element="tns:obtenerPorIdOdontologoResponse" />
  </message>
  <portType name="Odontologo">
    <operation name="eliminarOdontologo">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/eliminarOdontologoRequest" message="tns:eliminarOdontologo" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/eliminarOdontologoResponse" message="tns:eliminarOdontologoResponse" />
    </operation>
    <operation name="insertarOdontologo">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/insertarOdontologoRequest" message="tns:insertarOdontologo" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/insertarOdontologoResponse" message="tns:insertarOdontologoResponse" />
    </operation>
    <operation name="modificarOdontologo">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/modificarOdontologoRequest" message="tns:modificarOdontologo" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/modificarOdontologoResponse" message="tns:modificarOdontologoResponse" />
    </operation>
    <operation name="listarTodosOdontologo">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/listarTodosOdontologoRequest" message="tns:listarTodosOdontologo" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/listarTodosOdontologoResponse" message="tns:listarTodosOdontologoResponse" />
    </operation>
    <operation name="obtenerPorIdOdontologo">
      <input wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/obtenerPorIdOdontologoRequest" message="tns:obtenerPorIdOdontologo" />
      <output wsam:Action="http://services.softgest.pucp.edu.pe/Odontologo/obtenerPorIdOdontologoResponse" message="tns:obtenerPorIdOdontologoResponse" />
    </operation>
  </portType>
  <binding name="OdontologoPortBinding" type="tns:Odontologo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPorIdOdontologo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Odontologo">
    <port name="OdontologoPort" binding="tns:OdontologoPortBinding">
      <soap:address location="http://localhost:8080/SoftGestWS/Odontologo" />
    </port>
  </service>
</definitions>