SoftGest/SoftGestWA/Connected Services/AsistenteMostradorWS/AsistenteMostrador.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softgest.pucp.edu.pe/" targetNamespace="http://services.softgest.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAsistenteMostrador" type="tns:eliminarAsistenteMostrador" />
  <xs:element name="eliminarAsistenteMostradorResponse" type="tns:eliminarAsistenteMostradorResponse" />
  <xs:element name="insertarAsistenteMostrador" type="tns:insertarAsistenteMostrador" />
  <xs:element name="insertarAsistenteMostradorResponse" type="tns:insertarAsistenteMostradorResponse" />
  <xs:element name="listarTodosAsistenteMostrador" type="tns:listarTodosAsistenteMostrador" />
  <xs:element name="listarTodosAsistenteMostradorResponse" type="tns:listarTodosAsistenteMostradorResponse" />
  <xs:element name="modificarAsistenteMostrador" type="tns:modificarAsistenteMostrador" />
  <xs:element name="modificarAsistenteMostradorResponse" type="tns:modificarAsistenteMostradorResponse" />
  <xs:element name="obtenerPorIdAsistenteMostrador" type="tns:obtenerPorIdAsistenteMostrador" />
  <xs:element name="obtenerPorIdAsistenteMostradorResponse" type="tns:obtenerPorIdAsistenteMostradorResponse" />
  <xs:complexType name="eliminarAsistenteMostrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAsistenteMostrador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAsistenteMostradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenteMostrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
      <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAsistenteMostradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAsistenteMostrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAsistenteMostrador" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
      <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAsistenteMostradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosAsistenteMostrador">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosAsistenteMostradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:asistenteMostradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistenteMostradorDTO">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:usuarioDTO">
        <xs:sequence>
          <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
          <xs:element minOccurs="0" name="turno" type="tns:turno" />
          <xs:element minOccurs="0" name="turnoPersonal" type="tns:turnoPersonalDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="usuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="tns:sexo" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="turnoPersonalDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="tns:disponibilidad" />
      <xs:element minOccurs="0" name="idTurnoPersonal" type="xs:int" />
      <xs:element minOccurs="0" name="turno" type="tns:turno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdAsistenteMostrador">
    <xs:sequence>
      <xs:element minOccurs="0" name="idAsistenteMostrador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPorIdAsistenteMostradorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:asistenteMostradorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="sexo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Masculino" />
      <xs:enumeration value="Femenino" />
      <xs:enumeration value="OTRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="turno">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Mañana" />
      <xs:enumeration value="Tarde" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="disponibilidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disponible" />
      <xs:enumeration value="NoDisponible" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>